 <div class="email-content">
            <div class="email-content-header pure-g">
                <div class="pure-u-1-2">
                    <h1 class="email-content-title">String</h1>
                    <p class="email-content-subtitle">
                        From <a>DB<font color="red">{{info.db}}</font></a> at <span>{{info.ip}}</span>
                    </p>
                </div>

                <div class="email-content-controls pure-u-1-2">
                    
                   
                    <button ng-click="delete(info.key)" class="secondary-button pure-button button-error ">delete</button>
                </div>
            </div>

            <div class="email-content-body">
                <p>
                    <table class="pure-table pure-table-bordered" >
                    <!-- <thead>
                        <tr>
                            <th>#</th>
                            <th>Make</th>

                        </tr>
                    </thead> -->

                    <tbody>
                        <tr>
                            <td>key</td>
                            <td>
                                <span ng-if="!info.isEdit">{{info.key}}</span>
                                <input ng-if="info.isEdit" type="text" ng-model="news.key" placeholder="{{news.key}}">
                            </td>
                            <td>
                                <button ng-click="edit()" ng-if="!info.isEdit" class="button-secondary pure-button">Edit</button>
                                <button ng-click="sub()" ng-if="info.isEdit" class="button-success pure-button">Submit</button>
                                <button ng-click="cancel()" ng-if="info.isEdit" class="button-warning pure-button">Cancel</button>



                                <!-- <img ng-click="edit()" class="imgbut" width="16" height="16" alt="[E]" title="Edit TTL" ng-src="{{info.img}}" > -->
                            </td>

                        </tr>
                        <tr>
                            <td>type</td>
                            <td>{{info.type}}</td>
                            <td> </td>


                        </tr>
                        <tr>
                            <td>ttl</td>
                            <td>
                            <span ng-if="!info.isEditTTL">{{info.ttl}}</span><input ng-if="info.isEditTTL" type="text" ng-model="news.ttl" placeholder="{{news.ttl}}">

                            </td>
                            <td>
                                <button ng-click="editTTl()" ng-if="!info.isEditTTL" class="button-secondary pure-button">Edit</button>
                                <button ng-click="subTTL()" ng-if="info.isEditTTL" class="button-success pure-button">Submit</button>
                                <button ng-click="cancelTTL()" ng-if="info.isEditTTL" class="button-warning pure-button">Cancel</button>
                            </td>

                        </tr>
                        <tr>
                            <td>size</td>
                            <td>{{info.size}} characters</td>

                        </tr>


                    </tbody>
                </table>
                </p>
                <p>
                    <table class="pure-table pure-table-bordered">
                        <thead>
                            <tr>

                                <th>value</th>
                                <th>action</th>


                            </tr>
                        </thead>

                        <tbody>
                            <tr  >
                                <td>
                                    <span ng-if="info.isEditValue">{{info.values}}</span><input ng-if="!info.isEditValue" type="text" ng-model="info.nValues" placeholder="{{info.nValues}}">
                                </td>

                                <td>
                                    <button ng-click="editValue()" ng-if="info.isEditValue"  class="button-secondary pure-button">Edit</button>

                                     <button ng-click="subValue()" ng-if="!info.isEditValue" class="button-success pure-button">Submit</button>
                                     <button ng-click="cancelValue()" ng-if="!info.isEditValue" class="button-warning pure-button">Cancel</button>


                                </td>

                            </tr>


                        </tbody>
                    </table>
                </p>

            </div>
        </div>
